<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>User profile</h2>
                <ol>
                    <a href="{{ url_for('home') }}">
                        <li><a href="index.html">Home</a></li>
                    </a>
                    <li>Profile</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="container">
                <div class="main-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="static/assets/img/team/team-1.jpg" alt="Admin"
                                             class="rounded-circle p-1" width="110">
                                        <div class="mt-3">
                                            <h4>{{ current_user.name }}</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><!--            USER_PROFILE_CARD END-->

                        <!--            USER_PROFILE_details start-->
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Full Name:</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <p>{{ current_user.name }}</p>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email:</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <p>{{ current_user.email }}</p>
                                        </div>
                                    </div>
                                    <div class="row mb-3">

                                        <div class="row mb-3">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">RFID</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <p>{{ current_user.rfid }}</p>
                                            </div>
                                        </div>
                                        <div class="row-lg-6">
                                            <!--                                            <a class="btn btn-outline-primary" href="{{ url_for('process_pay', user_id_for_payment=current_user.id) }}">Pay</a>-->
                                            <form action="{{ url_for('process_pay', user_id_for_payment=current_user.id) }}"
                                                  method="post">
                                                <button id="rzp-button1" class="btn btn-primary">Pay</button>
                                                <script src="static/assets/my_pay_script/pay_script.js"
                                                        charset="utf-8"></script>
                                            </form>

                                        </div>
                                        <div class="flash-msg">
                                            {% with messages = get_flashed_messages() %}
                                            {% if messages %}
                                            <p class=flashes style="color: red">
                                                {% for message in messages %}
                                                {{ message }}
                                                {% endfor %}
                                            </p>
                                            {% endif %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div><!--            USER_PROFILE_details end-->

                            </div>
                            <div class="col-lg-8">


                                    {% for user in recent[::-1]: %}
                                    {% if user.card == current_user.rfid: %}
                                    <div class="history-card card-body mb-4 rounded-3 shadow-sm">
                                        <strong>{{ user._from_time[:10] }}</strong>
                                        <hr>
                                        <p>Due: {{ user.ticket_due }} Rs.</p>
                                        <p>Distance travelled: {{ user.travel_distance }}</p>
                                        <p>From-To: {{ user._from }} to {{ user._to }}</p>
                                        <p>Timestamps: {{ user._from_time[11:] }}   to   {{ user._to_time[11:] }}</p>
                                        <br>
                                    </div>
                                    {% endif %}
                                    {% endfor %}


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->


</body>
{% include "footer.html" %}
</html>



