{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<head>
    <title>Login V15</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="static/log_reg_assets/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="static/log_reg_assets/css/login_register_util.css">
    <link rel="stylesheet" type="text/css" href="static/log_reg_assets/css/login_register.css">
</head>
<body>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>register form</h2>
                <ol>
                    <a href="{{ url_for('home') }}">
                        <li><a href="index.html">Home</a></li>
                    </a>
                    <li>register form</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(static/assets/img/pixelot_bus_1.jpg);">
					<span class="login100-form-title-1">
						Register
                        <p>some back ground image</p>
					</span>
                </div>

                <form class="login100-form validate-form">

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Name</span>
                        <input class="input100" type="text" name="username" placeholder="Enter name">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Email</span>
                        <input class="input100" type="text" name="useremail" placeholder="Enter email">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="pass" placeholder="Enter password">
                        <span class="focus-input100"></span>
                    </div>

                    <!--                    <div class="flex-sb-m w-full p-b-30">-->
                    <!--                        <div class="contact100-form-checkbox">-->
                    <!--                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">-->
                    <!--                            <label class="label-checkbox100" for="ckb1">-->
                    <!--                                Remember me-->
                    <!--                            </label>-->
                    <!--                        </div>-->

                    <!--                        <div>-->
                    <!--                            <a href="#" class="txt1">-->
                    <!--                                Forgot Password?-->
                    <!--                            </a>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <div class="container-login100-form-btn">
                        <!--                        <button class="login100-form-btn">-->
                        <!--                            Login-->
                        <!--                        </button>-->
                        <a class="btn btn-outline-danger login100-form-btn" href="#">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main><!-- End #main -->

{% include "footer.html" %}
</body>

